html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-color: #ffffff;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container */

.container {
  width: 1200px;
  min-height: 600px;
  color: #ffffff;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 25px;
  position: relative;
  justify-content: flex-start;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  color: #332f2f;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  margin-top: 10px;
}

.footer {
  text-align: left;
  font-size: 14px;
  color: #332f2f;
  position: relative;
  bottom: -20px;
  width: 100%;
}

.name {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.nav-links a {
  text-decoration: none;
  color: #332f2f;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f7931e;
  transition: color 0.15s ease;
}

.navbar-separator {
  opacity: 15%;
  align-items: center;
  width: calc(100% + 20px);
  height: 1px;
  background-color: #332f2f;
  margin-top: 15px;
  position: relative;
  margin-left: -10px;
}

/* Home */

.text-content {
  color: #332f2f;
  font-size: 34px;
  text-align: left;
  margin: 0;
  padding: 40px;
  flex-grow: 1;
}

span {
  color: #f7931e;
}

.social-icons {
  display: flex;
  text-align: left;
  margin: 0;
  padding: 10px;
  gap: 15px;
  padding-left: 40px;
}

.social-icons a {
  text-decoration: none;
  color: #332f2f;
  font-size: 32px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  color: #f7931e;
  transform: scale(1.2);
}

.contact-btn {
  display: inline-block;
  background-color: #f7931e;
  color: #fff;
  font-size: 20px;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transform: translateY(-30px);
}

/* About Me */

.aboutme-heading {
  color: #332f2f;
  font-size: 30px;
  text-align: center;
  margin: 0;
  margin-top: -20px;
  position: relative;
}

.aboutme-underline {
  width: 310px;
  height: 2px;
  background-color: #f7931e;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 75px;
}

.aboutme-paragraph {
  color: #332f2f;
  font-size: 20px;
  text-align: center;
  margin: 0;
  margin-top: -30px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 25px;
}

/* Skills */

.skills-heading {
  color: #332f2f;
  font-size: 30px;
  text-align: center;
  margin: 0;
  margin-top: -20px;
  position: relative;
}

.skills-underline {
  width: 180px;
  height: 2px;
  background-color: #f7931e;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 75px;
}

.skill-icons {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 0;
  margin-top: -30px;
  padding-left: 100px;
  padding-right: 100px;
  gap: 25px;
}

.skill-icons-2 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  margin-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  gap: 25px;
}

.skill-icons i,
.skill-icons-2 i {
  text-decoration: none;
  color: #332f2f;
  font-size: 52px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.skill-icons i:hover {
  color: #f7931e;
  transform: scale(1.2);
}

.skill-icons-2 i:hover {
  color: #f7931e;
  transform: scale(1.2);
}

.skills-paragraph {
  color: #332f2f;
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding-left: 100px;
  padding-right: 100px;
}
