html body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

/* Navbar */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-sizing: border-box;
}

.name {
  font-size: 1.25rem;
  font-weight: bold;
  color: #131111;
  text-decoration: none;
}

nav a {
  font-size: 1.25rem;
  font-weight: bold;
  color: #131111;
  padding: 0.5rem;
  text-decoration: none;
}

nav a:hover {
  color: #ff8800;
  transition: transform 0.3s ease, color 0.3s ease;
}

.nav-links a {
  text-decoration: none;
  color: #131111;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ff8800;
  transition: color 0.15s ease;
  flex-grow: 1;
}

#theme-toggle {
  margin-right: -0.5rem;
}

/* Section */

section {
  scroll-margin-top: 4rem;
  /* border: red 2px solid; */
}

/* Theme Toggle */

#theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #131111;
  transition: color 0.3s ease;
}

#theme-toggle:hover {
  color: #ff8800;
  transition: color 0.15s ease;
  flex-grow: 1;
}

/* Home Page */

.main-container {
  display: flex;
  flex-direction: column;

  /* border: red 2px solid; */
}

.text-content {
  color: #131111;
  font-size: 2.75rem;
  padding-left: 1.5rem;
  padding-top: 5rem;
}

span {
  color: #ff8800;
}

.contact-btn {
  background-color: #ff8800;
  color: #fff;
  font-size: 24px;
  padding: 0.75rem 2.5rem;
  border: none;
  border-radius: 0.35rem;
  cursor: pointer;
}

.social-icons {
  display: flex;
  color: #131111;
  gap: 1.25rem;
  padding-left: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 0.5rem;
}

/* 
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 100vh;  
  margin-top: -40rem;
  padding-right: 3.25rem;
  padding-bottom: 55rem;
position: relative;
border: red 2px solid;
} */

.social-icons a {
  text-decoration: none;
  color: #131111;
  font-size: 3.25rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  color: #ff8800;
  transform: scale(1.2);
}

/* .profile-pic {

  width: 28rem;
  height: 28rem;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  align-self: center;
  display: flex;
  height: 100vh; 
  } */

/* About Me Page */

.aboutme-section {
  background-color: rgb(243, 243, 243);
}

.aboutme-heading {
  color: #131111;
  font-size: 30px;
  text-align: center;
  margin: 0;
}

/* .aboutme-underline {
  width: 310px;
  height: 2px;
  background-color: #ff8800;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 115px;
} */

.aboutme-paragraph {
  color: #131111;
  font-size: 1.25rem;
  text-align: center;
  margin: 0;
  margin-top: 0px;
  padding: 0 31.25rem;
  padding-bottom: 2rem;
}

/* Skills Page */

.skills-heading {
  color: #131111;
  font-size: 30px;
  text-align: center;
  margin: 0;
  /* padding-top: 10rem; */
}

/* .skills-underline {
  width: 180px;
  height: 2px;
  background-color: #ff8800;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 115px;
} */

.skill-icons {
  display: flex;
  justify-content: center;
  text-align: center;
  /* flex-wrap: wrap; */
  margin: 0;
  margin-top: 0px;
  padding: 0 31.25rem;

  gap: 25px;
}

.skill-icons-2 {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 30px;
  padding: 0 31.25rem;

  gap: 25px;
  padding-bottom: 3rem;
}

.skill-icons i,
.skill-icons-2 i {
  text-decoration: none;
  color: #131111;
  font-size: 4rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.skill-icons i:hover,
.skill-icons-2 i:hover {
  color: #ff8800;
  transform: scale(1.2);
}

/* Projects Page */

.projects-section {
  background-color: rgb(243, 243, 243);
}

.projects-heading {
  color: #131111;
  font-size: 30px;
  text-align: center;
  margin: 0;
  /* margin-top: 75px; */
}

.slider-title {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  /* margin-top: -20px; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-bottom: -15rem;
}

.slider-item,
.slider-link {
  width: 300px;
  height: 400px;
  display: flexbox;
  flex-direction: column;

  background: #fff;
  padding: 1.25rem;
  border-radius: 0.75rem;
  text-decoration: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.slider-item:hover,
.slider-link:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.slider-item:hover .button-right,
.slider-link:hover .button-right {
  background-color: #131111;
  color: #fff;
}

.slider-list {
  display: flex;
  /* flex-wrap: wrap; */
  /* overflow: visible; */
  padding: 0;
  margin: 0;
  width: 100%;
  gap: 1.25rem;
  list-style: none;
}

.slider-list,
.slider-link,
.slider-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 10px;
}

/* .slider-title {} */

.slider-list,
.slider-link {
  color: #131111;
  /* padding: 0px 0px; */
  font-size: 1.25rem;
  font-weight: 600;
}

.slider-description {
  font-weight: 400;
  font-size: 1rem;
  /* margin-bottom: -10px; */
  /* flex: 1; */
}

.button-right {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  border: 2px solid #131111;
  cursor: pointer;
  background: none;
  transform: rotate(-45deg);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  color: #131111;
  transition: 0.4s ease;
  position: relative;
}

/* Designs Section */

.designs-heading {
  color: #131111;
  font-size: 30px;
  text-align: center;
  margin: 0;
  /* margin-top: 175px; */
}

/* .designs-underline {
  width: 270px;
  height: 2px;
  background-color: #ff8800;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 115px;
} */

/* Contact Section */

.contact-section {
  background-color: rgb(243, 243, 243);
}

.contact-heading {
  color: #131111;
  font-size: 30px;
  text-align: center;
  margin: 0;
  /* margin-top: 75px; */
  padding-top: 10rem;
  padding-bottom: 10rem;
}

/* .contact-underline {
  width: 270px;
  height: 2px;
  background-color: #ff8800;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 115px;
} */

/* Footer */

footer {
  position: relative;
  padding: 0 0.75rem;
  left: 0;
  background-color: none;
  box-sizing: border-box;
  font-size: 0.85rem;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}
