html {
  scroll-behavior: smooth;
}

html body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

/* Navbar */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-sizing: border-box;
}

.left-side {
  display: flex;
  align-items: center;
}

.ec-logo {
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.ec-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  font-size: 1.25rem;
  font-weight: bold;
  color: #131111;
  text-decoration: none;
}

nav a {
  font-size: 1.25rem;
  font-weight: bold;
  color: #131111;
  padding: 0.5rem;
  text-decoration: none;
}

nav a:hover {
  color: #ff8800;
  transition: color 0.3s ease;
}

.nav-links a {
  text-decoration: none;
  color: #131111;
  justify-content: flex-end;
  display: flex;
}

.nav-links a:hover {
  color: #ff8800;
  transition: color 0.3s ease;
  flex-grow: 1;
}

#theme-toggle {
  margin-right: -0.5rem;
}

/* Section */

section {
  scroll-margin-top: 4rem;
}

/* Theme Toggle */

#theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #131111;
  transition: color 0.3s ease;
}

#theme-toggle:hover {
  color: #ff8800;
  transition: color 0.15s ease;
  flex-grow: 1;
}

/* Home Page */

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-content {
  color: #131111;
  font-size: 2.25rem;
  padding-top: 2.5rem;
}

span {
  color: #ff8800;
}

.profile-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 50%;
  margin: 2rem auto;
  margin-top: -2rem;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  padding: 2rem;
  transition: transform 0.3s ease;
}

.profile-pic:hover {
  transform: scale(1.15);
}

.contact-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-btn {
  background-color: #ff8800;
  color: #fff;
  font-size: 24px;
  padding: 0.75rem 2.5rem;
  border: none;
  border-radius: 0.35rem;
  cursor: pointer;
}

.contact-btn:active {
  transform: scale(0.95);
}

.social-icons {
  display: flex;
  color: #131111;
  gap: 1.25rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.social-icons a {
  text-decoration: none;
  color: #131111;
  font-size: 3.25rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  color: #ff8800;
  transform: scale(1.1);
}

/* About Me Page */

.aboutme-section {
  background-color: rgb(243, 243, 243);
}

.aboutme-heading {
  padding: 0.1rem 0;
  color: #131111;
  font-size: 30px;
  text-align: center;
  margin: 0;
}

.aboutme-paragraph {
  color: #131111;
  font-size: 1.25rem;
  text-align: center;
  margin: 0;
  margin-top: -1.75rem;
  padding: 0 31.25rem;
  padding-bottom: 2rem;
}

/* Skills Page */

.skills-heading {
  color: #131111;
  font-size: 30px;
  text-align: center;
  margin: 0;
}

.skill-icons {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0 31.25rem;
  gap: 25px;
}

.skill-icons-2 {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 30px;
  padding: 0 31.25rem;
  gap: 25px;
  padding-bottom: 3rem;
}

.skill-icons i,
.skill-icons-2 i {
  text-decoration: none;
  color: #131111;
  font-size: 4rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.skill-icons i:hover,
.skill-icons-2 i:hover {
  color: #ff8800;
  transform: scale(1.1);
}

/* Projects Page */

.projects-section {
  background-color: rgb(243, 243, 243);
  padding-bottom: 3.5rem;
}

.projects-heading {
  color: #131111;
  font-size: 30px;
  text-align: center;
  margin: 0;
  margin-bottom: -5rem;
  padding: 0.1rem 0 0 0;
}

.slider-title {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7.5rem;
}

.slider-item,
.slider-link {
  width: 225px;
  height: 310px;
  display: flexbox;
  background: #fff;
  padding: 0.75rem;
  border-radius: 0.75rem;
  text-decoration: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.slider-item:hover,
.slider-link:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.slider-item:hover .button-right,
.slider-link:hover .button-right {
  background-color: #131111;
  color: #fff;
}

.slider-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1060px;
  padding: 0;
  margin: 0;
  gap: 1.25rem;
  list-style: none;
}

.slider-list,
.slider-link,
.slider-image {
  width: 100%;
  border-radius: 10px;
}

.slider-list,
.slider-link {
  color: #131111;
  font-size: 1rem;
  font-weight: 600;
}

.slider-description {
  font-weight: 400;
  font-size: 0.8rem;
}

.button-right {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  border: 2px solid #131111;
  cursor: pointer;
  background: none;
  transform: rotate(-45deg);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  color: #131111;
  transition: 0.4s ease;
}

/* Designs Section */

.designs-section {
  background-color: rgb(255, 255, 255);
  padding-bottom: 3.5rem;
}

.designs-heading {
  color: #131111;
  font-size: 30px;
  text-align: center;
  margin: 0;
  margin-bottom: -5rem;
}

/* Contact Section */

.contact-section {
  background-color: rgb(243, 243, 243);
  padding-bottom: 4.45rem;
}

.contact-heading {
  color: #131111;
  font-size: 30px;
  text-align: center;
  margin: 0;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 35rem;
  height: 37.5rem;
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 2rem;
}

.cnt-sections {
  font-weight: 400;
  font-size: 1rem;
  padding: 0 1rem;
}

.cnt-sections label {
  margin-bottom: 1rem;
}

.cnt-sections input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  box-sizing: border-box;
}

#message {
  width: 100%;
  padding: 0.75rem 0.75rem 10rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  box-sizing: border-box;
  resize: none;
}

.contact-btn2 {
  background-color: #ff8800;
  color: #fff;
  font-size: 1rem;
  padding: 1.25rem 13.25rem;
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  margin-bottom: 1.75rem;
}

.contact-btn2:active {
  transform: scale(0.95);
}

/* Footer */

footer {
  position: relative;
  padding: 0 0.75rem;
  font-size: 0.85rem;
  display: flex;
  color: #131111;
}

.footer-right {
  margin-left: auto;
  font-size: 0.85rem;
  cursor: pointer;
  color: #131111;
}

.footer-right,
.footer-btn:hover {
  color: #ff8800;
  transition: color 0.3s ease;
}

.footer-btn {
  background: none;
  border: none;
  cursor: pointer;
}

/* Privacy Popup */

.privacy-popup {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.privacy-popup-content {
  background-color: white;
  padding: 25px 20px;
  border-radius: 12px;
  width: 80%;
  max-width: 500px;
  max-height: 400px;
  text-align: left;
  position: relative;
}

.privacy-popup-content h1 {
  margin-top: -8px;
  font-size: 24px;
  text-align: center;
}

.privacy-popup-content p {
  font-size: 14px;
  line-height: 1.6;
  text-align: left;
}

.close-privacy-popup {
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
  color: #131111;
}

.close-privacy-popup:hover {
  color: #ff8800;
  transition: color 0.3s ease;
}

.privacy-okay-btn {
  background-color: #ff8800;
  color: #fff;
  font-size: 1rem;
  padding: 1rem 10rem;
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  margin-top: 2rem;
}

.privacy-okay-btn:active {
  transform: scale(0.95);
}

/* Message Sent Popup */

.message-popup {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.message-popup-content {
  background-color: white;
  padding: 25px 20px;
  border-radius: 12px;
  width: 80%;
  max-width: 500px;
  max-height: 400px;
  text-align: left;
  position: relative;
}

.message-popup-content h1 {
  margin-top: -8px;
  font-size: 24px;
  text-align: center;
}

.message-popup-content p {
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
}

.close-message-popup {
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
  color: #131111;
}

.close-message-popup:hover {
  color: #ff8800;
  transition: color 0.3s ease;
}

.message-okay-btn {
  background-color: #ff8800;
  color: #fff;
  font-size: 1rem;
  padding: 1rem 10rem;
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  margin-top: 2rem;
}

.message-okay-btn:active {
  transform: scale(0.95);
}

.message-icon {
  font-size: 6.5rem;
  padding-bottom: 0.5rem;
  justify-content: center;
  text-align: center;
  display: flex;
}
